<html>
  <head>
    {% if title %}
      <title>Keydata Project: {{ title }}</title>
    {% else %}
      <title>Keydata Project</title>
    {% endif %}

    <script src="/static/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/d3.v5.js"></script>
    <script>var d3v5 = window.d3; window.d3 = null;</script>
    <script src="/static/d3.v4.js"></script>
    <script>var d3v4 = window.d3; window.d3 = null;</script>
    <script src="/static/d3.v3.js"></script>
    <script src="/static/socket.io.js"></script>
    <script src="/static/jquery.magnific-popup.min.js"></script>
    <script src="/static/jquery-ui.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="/static/jquery-ui.css" />
    <link rel="stylesheet" href="/static/magnific-popup.css">
    <link rel="stylesheet" href="/static/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- custom -->
    <!-- <script src="/static/base.js"></script> -->
    <!-- <script type="text/javascript" src="/static/vector_math.js"></script> -->
    <!-- <script type="text/javascript" src="/static/word.js"></script> -->
    <!-- <script type="text/javascript" src="/static/word-client.js"></script> -->
    <script type="text/javascript" src="/static/springy.js"></script>
    <script type="text/javascript" src="/static/springyui.js"></script>
    <script type="text/javascript" src="/static/drawing.js"></script>
    <script type="text/javascript" src="/static/word_network.js"></script>



  </head>
  <body>
    
    

    <!-- <div id="content"> -->

<div id="sidebar">


  <div id='header'>
    
<center>
    <div id='title'><a href="/">Cambridge Keydata Project</a></div>
    <!-- <div id="subtitle">Computational linguistics & Conceptual history</div> -->
    <div id='subtitle'>Conceptual history<br/>⇳<br/>Computational semantics</div>
    <!-- Tools, resources, and research intersecting c -->
</center>
    <!-- <center>
      <div id='title'>Keydata Project</div>
      <div id='subtitle'>computational linguistics + conceptual history</div>
    </center> -->

    <!-- <br/> -->
    <!-- <a href="javascript:void(0)" class='popup_about'>About</a> | 
    <a href="/word">Analyze word</a> | <a href="javascript:void(0)" onclick="get_corpus(\'COHA\')">Corpus</a> | <a href="https://docs.google.com/spreadsheets/d/1gH5pO3z-og2Pj3xYtZbB9U4uoaGDLN6hLgNtdHmFSMQ/edit?usp=sharing" target="_blank">Word Index</a> |
    <a href="https://drive.google.com/drive/folders/1-ME4axybNlHX3HGvlLhDZJY7j10AbGaM?usp=sharing" target="_blank">Documents</a> |
    <a href="/manifestos" target="_blank">Manifesto Project</a> -->
  </div>  

  <!-- <hr/> -->
  <br/>

  <h3>Analyze word(s)</h3> 
  <textarea id="analyze_word" type="textbox" name="word">essential>work
key
labour
</textarea>


<!-- 
  key_1800>data_1950
  key > data
  virtue>value
virtue_1800>value_1800

  health,society,disease


value
values
price
importance
value-price
value-importance





price
rate
worth
importance
value-price



value
price
rate
worth
importance
value-price



    value
price
worth
importance
merit
excellence
</textarea> -->
    <!-- value
importance
price
value-price
value-importance -->





  <div id="button_row">
    <div style="float:left; font-size:0.8em"><a href="javascript:void(0)" id="expand_words">Auto-add similar</a></div>

    <button type="button" class='analyze_button' id='analyze_word_button'>Analyze</button>
  </div>

<div id="analyze_word_help">
<h4>Examples</h4>
<script>
function eg1() {
  $('#analyze_word').val('value')
  $('#n_top').val('10')
  $('#combine_periods__simultaneous').prop('checked',true)
  $('#analyze_word_button').click()
}

function eg2() {
  $('#analyze_word').val('value-price')
  $('#n_top').val('10')
  $('#combine_periods__simultaneous').prop('checked',true)
  $('#analyze_word_button').click()
}

function eg3() {
  $('#analyze_word').val('virtue>value')
  $('#n_top').val('5')
  $('#combine_periods__simultaneous').prop('checked',true)
  $('#analyze_word_button').click()
}

function eg4() {
  $('#analyze_word').val('value\nvalues\nprice\nimportance\nvalue-price\nvalue-importance')
  $('#n_top').val('5')
  $('#combine_periods__diachronic').prop('checked',true)
  $('#analyze_word_button').click()
}

function eg5() {
  $('#analyze_word').val('value\nvalues\nprice\nimportance\nvalue-price\nvalue-importance')
  $('#n_top').val('5')
  $('#combine_periods__simultaneous').prop('checked',true)
  $('#analyze_word_button').click()
}

function eg6() {
  $('#analyze_word').val('King+(Woman-Man)')
  $('#n_top').val('3')
  $('#combine_periods__simultaneous').prop('checked',true)
  $('#analyze_word_button').click()
}


</script>

<li><a href="javascript:void(0)" onclick="eg1()">value</a>: top 10 neighbors by period</li>
<li><a href="javascript:void(0)" onclick="eg2()">value - price</a>: associations of A without B</li>
<li>semantic math: <a href="javascript:void(0)" onclick="eg6()">King+(Woman-Man) = Queen</a></li>
<li><a href="javascript:void(0)" onclick="eg3()">virtue > value</a>: shortest path from A to B</li>
<li>see clusters move as <a href="javascript:void(0)" onclick="eg4()">dicharonic networks</a></li>
<li>or the "<a href="javascript:void(0)" onclick="eg5()">simultaneity of the nonsimultaneous</a>"</li>





</div>



  
  <div>
    <h3>Method</h3>
      <li><a href="javascript:void(0)" id='link_simnet' class='method_link'>Semantic Networks</a></li>
      <li><a href="javascript:void(0)" id='link_freqs' class='method_link'>Word Frequency</a></li>
  
    <!-- <li><a href="javascript:void(0)" id='link_umap' class='method_link'>Semantic Maps</a></li>
    <li><a href="javascript:void(0)" id='link_ranks' class='method_link'>Changing Associations</a></li>
    <li><a href="javascript:void(0)" id='link_spaces' class='method_link'>Key Spaces</a></li>
    <li><a href="javascript:void(0)" id='link_custom' class='method_link'>Semantic Dimensions</a></li> -->




    <!-- <li><a target="_blank" href="http://cambridgekeydata.org" id='link_umap' class='method_link'>Semantic Maps</a></li>
    <li><a target="_blank" href="http://cambridgekeydata.org" id='link_ranks' class='method_link'>Changing Associations</a></li>
    <li><a target="_blank" href="http://cambridgekeydata.org" id='link_spaces' class='method_link'>Key Spaces</a></li>
    <li><a target="_blank" href="http://cambridgekeydata.org" id='link_custom' class='method_link'>Semantic Dimensions</a></li> -->
  </div>

  <!-- <hr/> -->
  <br/>


  <div id='sidebar_content'>
    <div id="command_bar">
      {%block cmdbar%}{%endblock%}
    </div>
    <div id='status'></div>
  </div>

  <!-- <br/> -->

  <h3>In model</h3>
    <select id="model_id">
      <option value="ECCO_byquartercentury" selected>ECCO (Br. C18 literature), per 25 yr</option>
      <option value="COHA_byhalfcentury_nonf_smpl">COHA (Am. C19-C20 non-fiction, per 50 yr)</option>
      <!-- <option value="COHA_byhalfcentury_nonf">COHA (Am. C19-C20 non-fiction, per 50 yr)</option> -->
      <!-- <option value="COHA_bythirtyyear_nonf">COHA (Am. C19-C20 non-fiction, per 30 yr)</option> -->
      
    </select>

    <br/>Temporal mode:
    <div id="period_controls">

        
        <input id="combine_periods__diachronic" class="combine_periods_opt" type="radio" name="combined_periods_by" value="diachronic" checked>Diachronic</input>
        
        <br/>

        <input id="combine_periods__simultaneous" class="combine_periods_opt" type="radio" name="combined_periods_by" value="simultaneous">Simultaneous</input>

        

<!--         <br/>

        <input id="combine_periods__average" class="combine_periods_opt" type="radio" name="combined_periods_by" value="average">Synchronic</input> -->
    </div>


    <div style="display:none">
      Periods included:
    <div id="periods">
      <br/><input type="checkbox" class="period_input" id="period_combined" name="period_combined" value="combined" /> All (combined)
      <a href="javascript:void(0)" id="link_check_all_periods">(Check all)</a>
    </div>
  </div>
    
    
    <!-- <center> -->
      <!-- <button type="button" class='analyze_button' id='analyze_word_button'>Analyze</button> -->
    <!-- </center> -->
    
    <input type="hidden" id="subpage" value="simnet"></input>
    <input type="hidden" id="period" value=""></input>
    <input type="hidden" id="graph_div_being_used" value=""></input>

</div>




<div id='display'>
  <!-- <center> -->
    <div id='titles'>
      <div id='fig_title'></div>
      <div id='fig_subtitle'></div>
      <div id='caption'></div>
    </div>
    <!-- <center> -->
      <div id='progressbar'></div>
    <!-- </center> -->
    <div id="loading_msg"></div>
  <!-- </center> -->
  <div id="linegraph"></div>
{%block content %}





{%endblock %}



<div id='footer'>
</div>



{%block footer %}{%endblock%}
</div>


  

 <script>

  var autoExpand = function (field) {

  // Reset field height
  field.style.height = 'inherit';

  // Get the computed styles for the element
  var computed = window.getComputedStyle(field);

  // Calculate the height
  var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
               + parseInt(computed.getPropertyValue('padding-top'), 10)
               + field.scrollHeight
               + parseInt(computed.getPropertyValue('padding-bottom'), 10)
               + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

  field.style.height = height + 'px';

};


  document.addEventListener('input', function (event) {
  if (event.target.tagName.toLowerCase() !== 'textarea') return;
  autoExpand(event.target);
}, false);

  // $(function() { $('#analyze_word').click(); });


// $(function() { $('#analyze_word').val('data,work,culture,disease') })



</script>

  </body>

</html>

